.gridWrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.searchInput {
	grid-column: span 11;
}

.searchButton {
	grid-column: 1fr;
	align-self: end;
}

.Search_inputStyle {
	width: 100%;
	flex: 1;
}

.Search_searchButtonStyle {
	text-align: center;
}

.Search_errorStyle {
	color: red;
	font-style: italic;
	width: 100%;
	text-align: center;
}
