.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-areas:
        ". . h . ."
        ". . s . ."
        ". . r . .";
    margin: 0 25px;
}

.header {
    grid-column: h;
    grid-row: 1 / 2;
}

.search {
    grid-column: s;
    grid-row: 2 / 3;
}

.randomGif {
    grid-column: r;
    grid-row: 3 / -1;
}
