.grid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.headerTitle {
	grid-column: span 8;
}

.defaultGif {
	grid-column: span 4;
	text-align: right;
}

.Search_headerStyle {
	margin: 5% 0;
	width: 25vw;
	min-width: 200px;
	height: auto;
	cursor: pointer;
 }

.Search_defaultGifStyle {
	width: 70%;
	height: auto;
}
