@import url("https://fonts.googleapis.com/css?family=VT323");

.grid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.headerTitle {
	grid-column: span 8;
}

.defaultGif {
	grid-column: span 4;
	text-align: right;
}

.Search_headerStyle {
	margin-top: 25px;
	font-family: "VT323", monospace;
	color: #2196f3;
	font-size: 5vw;
	cursor: pointer;
}

.Search_defaultGifStyle {
    width: 70%;
    height: auto;
}
